<div layout="column" layout-align="center center" ng-cloak>
<div style="height: 50px;"></div>
<md-whiteframe class="md-whiteframe-24dp" layout="column" layout-align="space-around center" style="width: 300px;">
  <div><p>Login</p></div>
  <div>        <img src="assets/images/login-icon.png" alt="image" height="60" width="60">
</div>
<form name="loginform" ng-submit="submit()">
  <div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Username</label>
    <input ng-model="user.name"  required type="text">
    </md-input-container>
</div>
<div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <input ng-model="user.password" required type="password">
    </md-input-container>
</form>
<section layout="row"  layout-align="end center">
    <md-button class="md-raised md-secondary" ui-sref="signup">Sign Up</md-button>
    <md-button class="md-raised md-primary" type="submit" ng-click="setLogIn(false)" ng-disabled="loginform.$invalid">Login</md-button>
</section>   
    <div style="text-align: center; height: 50px;" ><a href="" ui-sref="forgotpass">Forgot Password</a></div>
 </md-whiteframe>
</div>
</div>