<div layout="column" layout-align="center center" ng-cloak>
<div style="height: 50px;"></div>
<md-whiteframe class="md-whiteframe-24dp" layout="column" layout-align="space-around center" style="width: 300px;">
  <div><p>Create Account</p></div>
  <!-- <div>        <img src="assets/images/login-icon.png" alt="image" height="60" width="60">
</div> -->
  <form name="signupForm">

  <div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Username</label>
      <input name="name" ng-model="user.name" ng-pattern="/^[a-zA-Z0-9._-]+$/" type="text" required>

      <div ng-messages="signupForm.name.$error" role="alert">
          <div ng-message="pattern">
            Please enter a valid username
          </div>
        </div>

    </md-input-container>
</div>
<div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <input ng-model="user.password" type="password" required>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Confirm Password</label>
      <input name="password" ng-model="confirmPass" type="password" ng-required="true">
    </md-input-container>
</div>
<div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>E-mail</label>
      <input name="email" ng-model="user.email" type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>

        <div ng-messages="signupForm.email.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Please enter a valid e-mail
          </div>
        </div>
    </md-input-container>
</div>
</form>
<section layout="row"  layout-align="end center">
    <a href="" ui-sref="login"> Cancel</a>
    <md-button class="md-raised md-primary" ng-disabled="confirmPass != user.password || user.password.length == 0" ng-click="submit()">Create Account</md-button>
</section> 
<div><p></p></div>

 </md-whiteframe>
</div>
