<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <script src="lib/angular-route/angular-route.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  
  <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

    <!-- your app's js -->
  <script src="app.js"></script>

    <!-- Controllers -->
  <script src="/mainCtrl.js"></script>
  <script src="signup/signup.js"></script>
  <script src="login/login.js"></script>
  <script src="forgotpass/forgotpass.js"></script>

  <!-- Services -->
 <script src="login/loginService.js"></script>


  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">


</head>
<body ng-app="myApp" ng-cloak>

  <!--
    Your HTML content here
  -->  


<div ng-controller="mainCtrl">
  <md-toolbar >
      <div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Back
        </md-button> -->

        <h2 flex md-truncate>TimeMngmt</h2>
        <md-button class="md-raised md-accent md-hue-3" aria-label="Login"  ui-sref="login" ui-sref-active="active" ng-if="isNotLogged">
          Login
        </md-button>

         <md-button class="md-raised md-warn md-hue-3" aria-label="Login" ui-sref-active="active" ng-if="!isNotLogged" ng-click="logOut()">
          Logout
        </md-button>
        
        <!-- <md-button class="md-fab md-mini md-hue-3" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>
</div>
     <!-- <a ui-sref="hello" ui-sref-active="active">Hello</a>
    <a ui-sref="about" ui-sref-active="active">About</a>
 -->
 
    <ui-view></ui-view>
  
</body>
</html>